{% extends 'blog/base.html' %}
{% block content %}
<p><br>Benvenuto al tutorial del mio blog!</br>
Dopo aver fatto l'accesso o la registrazione, in alto a destra è presente un messaggio di benvenuto,dove è
    possibile uscire dal proprio account.<br>Cliccare nella prima
icona visibile per poter vedere i posts non pubblicati.</br><br>Cliccare nell'icona '+' per creare un nuovo post (non
    è possibile scrivere la parola 'hack').</br>
    Proseguendo in basso,abbiamo un menù,diviso in queste opzioni(sono degli
    esercizi che ho fatto io stesso per avere più dimestichezza con python e django):<br>
-<strong>list specific user</strong>:ti porterà in una pagina in cui sarà viusalizzato il numero di post che ha
scritto ogni utente.</br>
    <br>-<strong>string</strong>: sarà visualizzato il numero di post in cui è contenuta una parola presa a caso.</br>
<br>-<strong>writeOnchain</strong>: in questo blog, ogni post pubblicato sarà trasferito nella ropsten di ethereum,
tramite questa pagina potremmo vedere tutte gli hash e txid delle transazioni effettuate.</br>
<br>-<strong>id utente</strong>: qui sarà visualizzato il numero id dell'utente.</br>
<br>-<strong>ip</strong>: qui saranno visualizzati tutti i dati relativi alla posizione,all'ip dell'utente.</br>
<br>-<strong>Home</strong>: il cuore della piattaforma dove sarà presente ogni post.</br>
<br>-<strong>Tutorial</strong>: Questa pagina,puoi cliccarci quando vuoi.</br>
    <br><strong>Buona permanenza!</strong></br>
</p>
{% endblock %}